.navContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 8rem;
}

.text {
  width: 80%;
  display: flex;
  text-align: center;
  margin-bottom: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  width: 100%;
}

.inputField {
  border: 1px black solid;
  width: 100%;
  padding: 1rem;
}

.loginBtn {
  background-color: var(--secondary-brown);
  height: 3rem;
}

.signUpBtn {
  background-color: var(--primary-blue);
  height: 3rem;
}

.btnContainer {
  width: 24rem;
  padding: 0 2rem;
}

.alternativeOptionSection {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.altEl {
  height: 100%;
  display: flex;
  align-items: center;
}

.altBtn {
  border: 1px solid #7df9ff;
  border-radius: 8px;
  color: black;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.altBtn:hover {
  background-color: #7df9ff;
}

@media (min-width: 968px) {
  .container {
    margin-top: 4rem;
  }

  .text {
    width: 24rem;
  }

  .formContainer {
    width: 50%;
    padding: 0;
  }

  .inputField {
    width: 50%;
  }

  .btnContainer {
    padding: 0;
  }
}
