@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --primary-blue: #88DACB;
    --primary-aqua: aquamarine;
    --secondary-brown: #C0AF82;
    --primary-grey: #f1f1f1;

    /* border radius */
    --br-primary: 8px;
}

* {
    box-sizing: border-box;

}

html, body {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Itim', cursive;
}

a, button {
    cursor: pointer;
}