.navContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-shrink: 1;
}

.homeContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 8rem;
}

.wrapper {
  background-color: #eaeaea;
  border-radius: 5px;
  /* padding: 5%; */
  width: 100%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.wrapperHeader {
    margin-bottom:0;
}

.headerTextWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.headerText {
  min-width: 80%;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 56rem;
  border-radius: 6px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin: 2rem 0;
}

.ctaWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  background-color: #88dacb;
  border-radius: 8px;
  padding: 5rem 0;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding: 1rem 3rem 1rem 2rem;
  border-radius: 8px;
}

.apiContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 4rem; */
}

.apiInfo {
  min-width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.apiLink {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
  text-decoration: none;
  color: #88dacb;
}

.apiLink:hover {
  opacity: 75%;
  text-decoration: underline;
}

.btn1 {
  background-color: #82b5c0;
  height: 3rem;
  width: 8rem;
}

.btn2 {
  background-color: var(--secondary-brown);
  height: 3rem;
  width: 8rem;
}

.trendingShopsContainer {
  width: 80%;
  border-radius: 6px;
  background-color: #eaeaea;
  padding: 1rem 3rem 3rem 2rem;
}

@media (min-width: 968px) {
  .wrapper {
    width: 80%;
    padding: 0 0;
  }

  .headerText {
    width: 40%;
  }

  .apiInfo {
    width: 36rem;
    line-height: 2rem;
  }

  .cta {
    width: 48rem;
  }

  /* .trendingShopsContainer {
    width: 48rem;
  } */
}
