footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    padding: 6rem 0;
    background-color: gainsboro;
}

.footerSection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footerTitle {
    font-size: 2rem;
    color: black
}

.footerLinks {
    font-size: 1rem;
}

.socialLink {
    color: black;
    font-size: 2rem;
}