footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding-top: 2rem;
    padding: 6rem 0;
    background-color: var(--primary-grey);
}

.footerSection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footerTitle {
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.footerLinks {
    font-size: 1rem;
    color: var(--primary-black);
    text-decoration: none;
}

.footerLinks:hover {
    font-size: 1rem;
    color: var(--primary-blue);
    text-decoration: underline;
    opacity: 75%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 75ms;
}

.socialLink {
    color: black;
    font-size: 2rem;
}

.socialLink:hover {
    color: var(--primary-blue);
    font-size: 2rem;
}