.favoritesListContainer {
    display: flex;
    flex-direction: column;

}

.singleItemContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
    /* width: 24rem; */
}

.listItemContainer {
    padding: 2rem;
    border-radius: 6px;
}

.containerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.rating {
    font-size: 1rem;
}


@media (min-width: 968px) {

    .singleItemContainer {
        width: 24rem;
    }

}