.single-item-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(241, 241, 241);
}

.list-item-container {
    padding: 2rem;
    border-radius: 6px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.rating {
    font-size: 1rem;
}