.profileContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profileHeaderSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profileInfoHeader {
    background-color: rgb(231, 231, 231);
    padding: 2rem;
    width: 100%;
    border-radius: 8px;
}

.headerSpan {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerBottomSection {
    border-top: 1px solid black;
}

.cardBody {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.text {
    font-size: 1.5rem;
    text-align: center;
}

.art {
    font-size: 0.5rem;
    /* background-color:blue; */
}


@media (min-width: 968px) {
    .profileInfoHeader {
        width: 80%;
    }

    .profileLayout {
        width: 80%;
    }
}