.profile-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper {
    height: 100%;
}

.profile-header-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile-info-header {
    background-color: rgb(231, 231, 231);
    padding: 2rem;
    width: 100%;
    border-radius: 8px;
}

.header-span {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-bottom-section {
    border-top: 1px solid black;
}

.card-body {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

@media (min-width: 968px) {
    .profile-info-header {
        width: 80%;
    }
}