.profileContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profileHeaderSection {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.cardBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
}
.welcomer {
  background-color: #88dacb;
  /* text-align: center; */
}

.welcomeContainer {
  width: 80%;
}

.profileInfoHeader {
  background-color: rgb(231, 231, 231);
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
}

.headerSpan {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerBottomSection {
  border-top: 1px solid black;
}

.text {
  font-size: 1.5rem;
  text-align: center;
}

.art {
  font-size: 0.5rem;
  /* background-color:blue; */
}

@media (min-width: 968px) {
  .profileInfoHeader {
    width: 80%;
  }

  .profileLayout {
    width: 80%;
  }
}
