.imageContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.addToFavBtn {
    border-radius: var(--br-primary);
    border: none;
    padding: 0.5rem;
}

.addToFavBtn:hover {
    opacity: 75%;
}

.storeImg {
    background-color: gainsboro;

    aspect-ratio: 4 / 3;
    border-radius: var(--br-primary);
    object-fit: cover;
}

.categoryContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.categoryContainer>p {
    background-color: var(--primary-blue);
    font-weight: bolder;
    padding: .5rem;
    border-radius: 4px;

}