*/ .footer {
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.nav-link {
    padding: 2rem;
    list-style: none;
    border-radius: 8px;
}

nav .nav-link:hover {
    background-color: white;
}